---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokemon/45/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-WeWork-App:
      - pokedex
      X-WeWork-Env:
      - test
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"forms":[{"url":"http:\/\/pokeapi.co\/api\/v2\/pokemon-form\/45\/","name":"vileplume"}],"abilities":[{"slot":3,"is_hidden":true,"ability":{"url":"http:\/\/pokeapi.co\/api\/v2\/ability\/27\/","name":"effect-spore"}},{"slot":1,"is_hidden":false,"ability":{"url":"http:\/\/pokeapi.co\/api\/v2\/ability\/34\/","name":"chlorophyll"}}],"stats":[{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/6\/","name":"speed"},"effort":0,"base_stat":50},{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/5\/","name":"special-defense"},"effort":0,"base_stat":90},{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/4\/","name":"special-attack"},"effort":3,"base_stat":110},{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/3\/","name":"defense"},"effort":0,"base_stat":85},{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/2\/","name":"attack"},"effort":0,"base_stat":80},{"stat":{"url":"http:\/\/pokeapi.co\/api\/v2\/stat\/1\/","name":"hp"},"effort":0,"base_stat":75}],"name":"vileplume","weight":186,"moves":[{"version_group_details":[{"move_learn_method":{"url":"http:\/\/pokeapi.co\/api\/v2\/move-learn-method\/4\/","name":"machine"},"level_learned_at":0,"version_group":{"url":"http:\/\/pokeapi.co\/api\/v2\/version-group\/16\/","name":"omega-ruby-alpha-sapphire"}},{"move_learn_method":{"url":"http:\/\/pokeapi.co\/api\/v2\/move-learn-method\/4\/","name":"machine"},"level_learned_at":0,"version_group":{"url":"http:\/\/pokeapi.co\/api\/v2\/version-group\/14\/","name":"black-2-white-2"}},{"move_learn_method":{"url":"http:\/\/pokeapi.co\/api\/v2\/move-learn-method\/4\/","name":"machine"},"level_learned_at":0,"version_group":{"url":"http:\/\/pokeapi.co\/api\/v2\/vers[...]
